@import "./global.css";

body {
  font-family: "Plus Jakarta Sans";
}

.navigation {
  padding-top: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

button.button-header {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}

button.button-header:hover {
  background-color: #755cde;
}

/*  */

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 66px 0 80px 0;
}

.heading h1 {
  font-size: 56px;
  line-height: 70.56px;
}

.heading p {
  font-size: 18px;
  line-height: 28px;
  color: #7a746e;
  margin-top: 23px;
}

/* ? */

.grid-parent {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "gd ui ap ph ph"
    "gd il il mg mg";
  margin-bottom: 136px;
}

.grid-child {
  padding: 24px;
  font-size: 24px;
  line-height: 30.24px;
  color: #fff;
}

.grid-child:nth-child(1) {
  grid-area: gd;
  background-color: #755cde;
  border-radius: 10px;
  width: 354px;
  height: 364px;
}

.grid-child:nth-child(2) {
  grid-area: ui;
  background-color: #f6a560;
  border-radius: 10px;
}

.grid-child:nth-child(3) {
  grid-area: ap;
  background-color: #f39e9e;
  border-radius: 10px;
}

.grid-child:nth-child(4) {
  grid-area: ph;
  background-color: #61c4b7;
  border-radius: 10px;
}

.grid-child:nth-child(5) {
  grid-area: il;
  background-color: #eb7565;
  border-radius: 10px;
}

.grid-child:nth-child(6) {
  grid-area: mg;
  background-color: #552049;
  border-radius: 10px;
}

.grid-img1 {
  padding-left: 180px;
}
.grid-img2 {
  padding-left: 90px;
}
.grid-img3 {
  padding-left: 90px;
}
.grid-img4 {
  padding-left: 190px;
}
.grid-img5 {
  padding-left: 225px;
}
.grid-img6 {
  padding-left: 225px;
}

.grid-child h3 {
  margin-top: 28px;
}
/* ! */

h3.box-1 {
  margin-top: 90px;
}

.second-section-box {
  display: flex;
  align-items: center;
  column-gap: 125px;
  margin-bottom: 88px;
}

.section-box {
  width: 480px;
}

.second-section-box h3 {
  font-size: 40px;
  line-height: 50px;
}

.second-section-box p {
  font-size: 18px;
  line-height: 28px;
  color: #7a746e;
  margin-top: 34px;
}

.button2 {
  background-color: #755cde;
  font-size: 16px;
  line-height: 28px;
  margin-top: 32px;
  color: #fff;
}

.button2:hover {
  background-color: #f6a560;
}

/* ? */

.my-work {
  text-align: center;
  font-size: 32px;
  line-height: 40.32px;
  font-weight: 700;
}

.img-reesl {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 56px;
  margin-bottom: 56px;
  scrollbar-width: auto;
}

.img-reesl img {
  border-radius: 5px;
}
/*  */

.arrow-box {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.arrow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #030303;
  cursor: pointer;
}

.arrow:hover {
  background-color: #755cde;
}

.arrow img {
  position: relative;
  top: 25px;
  left: 25px;
}

.last-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 81px 95px 80px 65px;
  margin-top: 88px;
}

.book-box h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
}

.book-box p {
  width: 540px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #fff;
  margin-top: 25px;
}

.button-box button {
  background-color: #755cde;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
}

.button-box button:hover {
  background-color: #f6a560;
}

@media screen and (max-width: 690px) {
  .grid-parent {
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "gd gd ui ap"
      "gd gd il il"
      "ph ph mg mg";
    margin-bottom: 120px;
  }

  .grid-img1 {
    padding-left: 120px;
  }
  .grid-img2 {
    padding-left: 39px;
  }
  .grid-img3 {
    padding-left: 39px;
  }
  .grid-img4 {
    padding-left: 100px;
  }
  .grid-img5 {
    padding-left: 125px;
  }
  .grid-img6 {
    padding-left: 141px;
  }

  .grid-child h3 {
    margin-top: 28px;
  }

  .grid-child:nth-child(1) {
    width: 290px;
    height: 364px;
  }

  .grid-child:nth-child(2) {
    width: 145px;
  }

  .grid-child:nth-child(3) {
    width: 145px;
  }

  .grid-child:nth-child(4) {
    width: 300px;
  }

  .grid-child:nth-child(5) {
    width: 300px;
  }

  .grid-child:nth-child(6) {
    width: 300px;
  }

  .second-section-box h3 {
    font-size: 32px;
    line-height: 40.32px;
  }

  .second-section-box {
    column-gap: 69px;
    margin-bottom: 120px;
  }

  .img-woman {
    width: 364px;
  }
}
